@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

*{
    box-sizing: border-box; 
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Inconsolata', monospace;
}

/* START NAVBAR SECTION */
.navbar {
    width: 100%;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    padding: 10px 20px;
}

.logo1 {
    color: #003060;
    font-size: 30px;
    letter-spacing: 1px;
    cursor: pointer;
    text-decoration: underline;
    text-decoration-thickness: 3px;
}

span {
    color: rgba(131,215,175,255);   
}

nav ul li {
    list-style-type: none;
    display: inline-block;
    padding: 10px 20px;
}

nav ul li a {
    color: #003060;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 20px;
}

nav ul li a:hover {
    color: rgba(131,215,175,255);
    transition: 0.3s;
    text-decoration: underline;
}

.btn {
    background-color: #003060;
    color: #fff;
    text-decoration: none;
    border: 3px solid transparent;
    font-weight: bold;
    padding: 10px 15px;
    border-radius: 25px;
    transition: transform .4s;
}

.btn:hover {
    color: rgba(131,215,175,255);
    /*transition: ; */
    text-decoration: underline;
    transform: scale(1.2);
}
/* END NAVBAR SECTION */

/* START WELCOME SECTION */
.header-img {
    background-image: url('images/background.jpg');
    background-size: cover;
    background-position: center center;
    height: 90vh;
    position: relative;
    display: flex;  
}   
    
    
.welcome-section {
    font-size: 30px;
    color: #003060;
    font-weight: bolder;
    padding: 5px 0px;
    margin: auto;
    width: 100%;
    text-align: center;
    border-radius: 2px;
    background-color:rgba(255, 255, 255, 0.9);

}

.welcome-section h4 {
    font-size: 50px;
}

.welcome-section h2 {
    font-size: 70px;
}
/* END WELCOME SECTION */

/* START ABOUT ME SECTION */
#about-me {
    display: flex;
}

.about-me-img, .about-me-text {
    width: 50%; 
}

.about-me-img img {
    width: 350px;
    height: auto;
    border-radius: 50%;
    border: 2px solid #ddd;
    padding: 5px;
    filter: grayscale(30%);
    margin: 40px;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.about-me-img:hover img{
    box-shadow:  0 0 2px 1px rgba(0, 140, 186, 0.5);
}

.about-me-text   {
    padding: 20px;   
    margin: auto; 
}

.about-me-text h2 {
    font-size: 45px;
    font-weight: bold;
    color: #003060;
    text-transform: uppercase;
    letter-spacing: 5px;
}

.about-me-text h3 {
    font-size: 23px;
    text-transform: uppercase;
    letter-spacing: 5px;
    color: #003060;
}

.about-me-text p {
    font-size: 20px;
    line-height: 2.5rem;
}

.talk {
    background-color: #003060;
    color: #fff;
    text-decoration: none;
    border: 3px solid transparent;
    font-weight: bold;
    padding: 10px 15px;
    border-radius: 25px;
    transition: ease-in 0.5s;
}

.talk:hover {
    color: rgba(131,215,175,255);
    text-decoration: underline;
    box-shadow: inset 200px 0 0 0 #fff;
    color: #003060;
}
/* END ABOUT ME SECTION */

/*  START SERVICES SECTION */
.services-title {
    width: 50%;
    text-align: center;
}
#services {
    display: flex;
    text-align: center;
    margin-top: 30px;
    margin-left: 10%;
    margin-right: 10%;
    padding: 0px 20px;
}

#services h6 {
    font-size: 30px;
    color: rgba(131,215,175,255);
}

#services h3 {
    color: #003060;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 20px;
    margin-top: 10px;
}

#services h3:hover {
    color: rgba(131,215,175,255);
    text-decoration: underline;
    transition: ease-in .3s;
}

#services p {
    margin-top: 10px;
    font-size: 18px;
}

.web-design, .web-dev, .app-dev {
    padding: 30px;
}
/* END SERVICES SECTION */

/* START PROJECTS SECTION */
#projects {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    margin-top: 30px;
    margin-left: 10%;
    margin-right: 10%;
}

.projects-title  {
    font-size: 45px;
    font-weight: bold;
    color: #003060;
    text-transform: uppercase;
    letter-spacing: 5px;
    padding: 15px;
}

#projects-all {
    width: 50%;
    margin-bottom: 3rem;
}

#projects-all h3{
    color: #003060;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 10px;
}


#projects-all img {
    width: 150px;
    border: 3px solid #003060;
}

#projects-all p {
    margin-top: 10px;
    font-size: 18px;
    margin-bottom: 30px;
}

#projects-all a {
    padding-top: 100px;
    background-color: #003060;
    color: #fff;
    text-decoration: none;
    border: 3px solid transparent;
    font-weight: bold;
    padding: 5px 10px;
    border-radius: 10px;
}
/* END PROJECTS SECTION */

/* START SOCIAL SECTION */
#social {
    background-color: #003060;
    text-align: center;
    color: #fff;
    margin-top: 20px; /* */
}

.social1 h2 {
    padding-top: 10px;
    font-size: 35px;
    text-transform: uppercase;
    letter-spacing: 3px;
}


.links1 {
    display: flex;
    list-style-type: none;
    justify-content: center;
    padding: 0;
    margin: 0;
}

.links1 a {
    color: #fff;
    font-size: 35px;
    margin: 0 30px;
}
/* END SOCIAL SOCIAL SECTION */

/* START FORM SECTION */
#form {
    display: flex;
    justify-content: center;
}
.form1 {
    display: flex;
    justify-content: center;
    width: 350px;
    background-color: #003060;
}

   

#name, #last, #email, #phone, #comments, #submit {
    display: block;
    width: 300px;
    height: 3rem;
    margin: 10px auto;
    border-radius: 3px;
    font-size: 15px;
    font-weight: bolder;
    background-color: #fff;
    border: 3px solid ;
    text-align: center;
    outline: none;
}

#comments {
    resize: none;
    height: 5rem;
    outline: none;
    font-size: 15px;
}

::placeholder {
    color: #003060;
    opacity: 1;
}

#comments:focus {
    box-shadow: 0 0 10px rgba(131,215,175,255);
    border: 3px solid rgba(131,215,175,255);
}

#label {
    display: block;
    width: 300px;
    height: 3rem;
    margin: 10px auto;
    color: #fff;
    font-size: 15px;
    font-weight: bolder;
    text-align: center;
    padding-top: 1rem;
}

.radio {
    text-align: center;
    color: #fff;
    font-weight: bolder;
}

#submit {
    width: 150px;
    cursor: pointer;
}

/* END FORM SECTION */

/* START FOOTER SECTION */
footer {
    background-color: #FFF;
    color: #003060;
    padding: 10px;
    text-align: center;
}

footer p {
    font-size: 18px;
    font-weight: bold;
}

footer .fa-heart {
    color: red;
}
/* END FOOTER SECTION */



hr {
    margin-left: 10%;
    margin-right: 10%;
    border: 2px solid #003060;

}






/* MEDIA QUERY */ 

@media only screen and (max-width: 500px) {

    /* START NAVBAR SECTION */
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    padding: 10px 20px;
}

.logo1 {
    font-size: 18px; /* */
    letter-spacing: none; /* */
    text-decoration-thickness: 2px; /* */
}

nav ul li {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    padding: 2px 20px;
}

nav ul li a {
    font-size: 14px;
}

nav ul li a:hover {
    color: rgba(131,215,175,255);
    transition: 0.3s;
    text-decoration: underline;
}

.btn {
    border: 1px solid transparent;
    padding: 5px 5px; 
    border-radius: 5px; 
}
/* END NAVBAR SECTION */

/* START WELCOME SECTION */
.header-img {
    height: 35vh;  
}   
       
.welcome-section {
    font-size: 18px;
    padding: 5px 0px;
    border-radius: none;
}

.welcome-section h4 {
    font-size: 20px;
}

.welcome-section h2 {
    font-size: 30px;
}
/* END WELCOME SECTION */

/* START ABOUT ME SECTION */
#about-me {
    display: flex;
    flex-direction: column /* */
}

.about-me-img, .about-me-text {
    width: 100%; /* */ 
}

.about-me-img img {
    width: 120px; 
    border: none; 
    padding: 0px; 
    margin: 20px; 
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.about-me-text   {
    padding: 10px; /* */   
    margin: auto;  
}

.about-me-text h2 {
    font-size: 30px; /* */
    letter-spacing: 1px; /* */
    text-align: center;
}

.about-me-text h3 {
    font-size: 20px; /* */
    letter-spacing: 2px; /* */
    margin-top: 20px; /* */
}

.about-me-text p {
    font-size: 16px; /* */ 
    line-height: 1.5rem; /* */
}

.talk {
    padding: 5px 5px; /* */
    border-radius: 5px;  /* */
}
/* END ABOUT ME SECTION */

/*  START SERVICES SECTION */
.services-title {
    width: 100%; 
}

.projects-title {
    font-size: 30px;
    text-align: center;
    letter-spacing: 1px;
}
#services {
    flex-wrap: wrap; 
    margin-top: 10px; 
    margin-left: none; 
    margin-right: none; 
    padding: 0px 10px; 
}

#services h3 {
    font-size: 18px; 
    margin-top: 5px; 
}

#services p {
    font-size: 16px; 
}
/* END SERVICES SECTION */

/* START PROJECTS SECTION */
#projects {
    flex-direction: column; /* */ 
}

#projects-all {
    width: 100%; /* */
    margin-bottom: 5rem; /* */
}

#projects-all img {
    width: 125px; /* */
}

#projects-all p {
    font-size: 16px;  /* */
}

#projects-all a {
    padding: 1px 5px; /* */
}
/* END PROJECTS SECTION */

/* START FORM SECTION */
#form {
    display: flex;
    justify-content: center;
}
.form1 {
    display: flex;
    justify-content: center;
    width: 350px;
    background-color: #003060;
}

   

#name, #last, #email, #phone, #comments, #submit {
    display: block;
    width: 300px;
    height: 3rem;
    margin: 10px auto;
    border-radius: 3px;
    font-size: 15px;
    font-weight: bolder;
    background-color: #fff;
    border: 3px solid ;
    text-align: center;
    outline: none;
}

#comments {
    height: 5rem;
    font-size: 12px; /* */
}

::placeholder {
    color: #003060;
    opacity: 1;
}

#comments:focus {
    box-shadow: 0 0 10px rgba(131,215,175,255);
    border: 3px solid rgba(131,215,175,255);
}

#label {
    display: block;
    width: 300px;
    height: 3rem;
    margin: 10px auto;
    color: #fff;
    font-size: 15px;
    font-weight: bolder;
    text-align: center;
    padding-top: 1rem;
}

.radio {
    text-align: center;
    color: #fff;
    font-weight: bolder;
}

#submit {
    width: 150px;
    cursor: pointer;
}

/* END FORM SECTION */









/* START SOCIAL SECTION */
.social1 h2 {
    padding-top: 5px; /* */
    font-size: 30px; /* */
    letter-spacing: 1px; /* */
}

.social1 p {
    font-size: 16px;
}


.links1 {
    margin-top: 10px;
}

.links1 a {
    font-size: 30px;
    margin: 0 15px; 
}
/* END SOCIAL SOCIAL SECTION */

/* START FOOTER SECTION */
footer {
    padding:5px;
}

footer p {
    font-size: 16px; 
}
/* END FOOTER SECTION */









}