@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

*{
   box-sizing: border-box; 
}

body {
    font-family: 'Montserrat', sans-serif;
}
#navbar {
    background-color: #003060;
    padding: 15px;
    display: flex;
    justify-content: flex-end;
}

#navbar a {
    color: #fff;
    margin-left: 20px;
    text-decoration: none;
}

#welcome-section {
    
}

#projects {
    background-color: #057dcd;
}

#social {
    background-color: #43b0f1;
}

footer {
    background-color: #003060;
    color: #fff;
    padding: 10px;
    text-align: center;
}

footer .fa-heart {
    color: red;
}

header {
    background-image: url('images/background.jpg');
    background-size: cover;
    background-position: center center;
    height: 100vh;
    position: relative;
    color: #fff;
    display: flex;
    align-items: top;
    justify-content: center;   
    
}

header h1 {
    font-size: 35px;
    text-align: center;
    margin-bottom: 10px;
    font-weight: bolder;
    
}

header p {
    font-size: 20px;
    text-align: center;
    font-weight: bolder;
    margin: 3px;
}

header::after {
    content: '';
    background-color: #fff;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0.3;
}

header * {
    position: relative;
    z-index: 1;
}
