@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

*{
    box-sizing: border-box; 
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Inconsolata', monospace;
}

/* START NAVBAR SECTION */
.navbar {
    width: 100%;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #262729;
    padding: 10px 20px;
}

.logo1 {
    color: #fff;
    font-size: 30px;
    letter-spacing: 1px;
    cursor: pointer;
}


/* END NAVBAR SECTION */




.welcome-section {
    width: 100%;
}

#projects {
    background-color: #fff;
}

#social {
    background-color: #43b0f1;
    text-align: center;
    color: #fff;
}

.social1 h2 {
    padding-top: 25px;
    font-size: 30px;
}

.links1 {
    display: flex;
    list-style-type: none;
    justify-content: center;
    padding: 0;
    margin: 0;
}

.links1 a {
    color: #fff;
    font-size: 55px;
    margin: 0 30px;
}

.project-tile {
    max-width: 400px;
    margin: 10px;
    text-decoration: none;
    transition: transform 0.3s ease;
}

.project-tile:hover {
    transform: scale(1.05);
}

.project-tile img {
    max-width: 100%;
}

.project-tile p {
    color: #fff;
    text-align: center;
    font-weight: bolder;
    margin-top: 10px;
}

#projects h2 {
    color: #fff;
    text-align: center;
    font-size: 25px;

}
.projects-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    
}

footer {
    background-color: #003060;
    color: #fff;
    padding: 20px;
    text-align: center;
}

footer .fa-heart {
    color: red;
}

.header-img {
    background-image: url('images/background.jpg');
    background-size: cover;
    background-position: center center;
    filter: grayscale(50%);
    height: 80vh;
    position: relative;
    color: #fff;
    display: flex;
    align-items: top;
    justify-content: center;   
}


.welcome-section {
    font-family: 'Roboto Mono' , monospace;
    font-size: 30px;
    color: #003060;
    font-weight: bolder;
    padding: 10px 50px;
    margin: auto;
    background-color: #fff;
    width: 25%;
    opacity: 0.9;
    text-align: center;
    border-radius: 2px;
    filter: grayscale(0%);
}

#about-me {
    display: flex;
}

.about-me-img, .about-me-text {
    width: 50%; 
}

.about-me-img img {
    width: 350px;
    height: auto;
    border-radius: 50%;
    border: 2px solid #ddd;
    padding: 5px;
    filter: grayscale(50%);
    margin: 40px;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.about-me-img:hover img{
    box-shadow:  0 0 2px 1px rgba(0, 140, 186, 0.5);
}

.about-me-text   {
    padding: 15px;   
    margin: auto; 
}

.about-me-text h2 {
    font-size: 45px;
    font-weight: bold;
    color: #262729;
    text-transform: uppercase;
    letter-spacing: 10px;
}

.about-me-text h3 {
    font-size: 23px;
    text-transform: uppercase;
    letter-spacing: 5px;
}

.about-me-text p {
    font-size: 20px;
    line-height: 2.5rem;
}

hr {
    margin-left: 10%;
    margin-right: 10%;
    border: 2px solid #262729;

}


/*
header h1 {
    font-size: 35px;
    text-align: center;
    margin-top: 80px;
    font-weight: bolder;
    
}

header p {
    font-size: 20px;
    text-align: center;
    font-weight: bolder;
    margin: 5px;
}

header::after {
    content: '';
    background-color: #fff;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0.3;
}

header * {
    position: relative;
    z-index: 1;
}
*/
/* ==========================================================*/
@media only screen and (max-width: 800px) {
    main {
        background-color: tomato;
      /* For mobile phones: */
    }
    }

